{% extends 'jobs/base.html' %}

{% block content %}

<div class="dark:bg-slate-900 astro-KH7BTL4R">
    <main class="w-full mx-auto px-10 py-24 astro-KH7BTL4R">
        <div class="leading-10 astro-KH7BTL4R">
            <h1 class="text-5xl leading-10 astro-KH7BTL4R">Contact Us</h1>
            <p class="text-3xl leading-10 astro-KH7BTL4R">Developed by Computer Students Association<br class="astro-KH7BTL4R">
                CCSIT, Dr. John Mathai Centre,<br class="astro-KH7BTL4R"> 
                Aranattukara, Thrissur</p>
        </div>
    </main>
    </div>


{% endblock %}