{% extends 'jobs/base.html' %}

{% block content %}

<div class="flex flex-row dark:bg-slate-900 astro-7JF2FHDJ">
		<main class="mx-auto w-1/2 astro-7JF2FHDJ">
			<div class="astro-7JF2FHDJ">
				<ul role="list" class="flex flex-col-reverse gap-4 link-card-grid my-5 astro-7JF2FHDJ">

          {% for each in jobs %}
            <li class="link-card astro-DOHJNAO5">
              <a href="https://docs.astro.build/" class="astro-DOHJNAO5">
                <h2 class="astro-DOHJNAO5">{{ each.title }}</h2>
                <p class="astro-DOHJNAO5">{{ each.location }}</p>
                <p class="astro-DOHJNAO5">{{ each.date_posted }}</p>
              </a>
            </li>
          {% endfor %}

				</ul>
			</div>
		</main>
		<div class="w-1/4 mt-10 astro-7JF2FHDJ">

		<div class="w-fit space-y-4 p-4 items-center text-gray-900 bg-gray-100 border border-gray-300 rounded-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 astro-7JF2FHDJ">

			<h4 class="text-center text-lg text-info astro-7JF2FHDJ">News</h4>
		
			<ol class="space-y-4 w-72 astro-7JF2FHDJ">
				<li class="astro-7JF2FHDJ">
					<div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 astro-7JF2FHDJ" role="alert">
						<div class="flex items-center justify-between astro-7JF2FHDJ">
							<span class="sr-only astro-7JF2FHDJ">News</span>
							<h3 class="font-medium astro-7JF2FHDJ">News 1</h3>
						</div>
					</div>
				</li>
				<li class="astro-7JF2FHDJ">
					<div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 astro-7JF2FHDJ" role="alert">
						<div class="flex items-center justify-between astro-7JF2FHDJ">
							<span class="sr-only astro-7JF2FHDJ">Review</span>
							<h3 class="font-medium astro-7JF2FHDJ">4. Review</h3>
						</div>
					</div>
				</li>
				<li class="astro-7JF2FHDJ">
					<div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 astro-7JF2FHDJ" role="alert">
						<div class="flex items-center justify-between astro-7JF2FHDJ">
							<span class="sr-only astro-7JF2FHDJ">Review</span>
							<h3 class="font-medium astro-7JF2FHDJ">4. Review</h3>
						</div>
					</div>
				</li>
				<li class="astro-7JF2FHDJ">
					<div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 astro-7JF2FHDJ" role="alert">
						<div class="flex items-center justify-between astro-7JF2FHDJ">
							<span class="sr-only astro-7JF2FHDJ">Review</span>
							<h3 class="font-medium astro-7JF2FHDJ">4. Review</h3>
						</div>
					</div>
				</li>
				<li class="astro-7JF2FHDJ">
					<div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 astro-7JF2FHDJ" role="alert">
						<div class="flex items-center justify-between astro-7JF2FHDJ">
							<span class="sr-only astro-7JF2FHDJ">Confirmation</span>
							<h3 class="font-medium astro-7JF2FHDJ">5. Confirmation</h3>
						</div>
					</div>
				</li>
			</ol>
		</div>
	</div>
	</div>

  {% endblock %}
	
